= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :content
    = form.text_area :content
  .actions
    = form.submit
      .wrapper_content
    .wrapper_content__inner
      %input#click{:type => 'checkbox'}
      %label{:for => 'click'}
        .favourite
          .spinner
            -(1..180).each do
              .spinner_part
          .favourite_heart
            .favourite_heart__left
            .favourite_heart__right
          .favourite_text
            %span Favourite this
